@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;700&family=Geist+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Geist Mono';
    --color-primary: 255 255 255;
    --color-secondary: 243 244 246;
    --color-muted: 75 85 99;
    --color-accent: 59 130 246;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 31 41 55;
      --color-secondary: 17 24 39;
      --color-muted: 156 163 175;
      --color-accent: 96 165 250;
    }
  }

}
